:root{
  --primary: #f4e3d7;
  --secondary: #e07b6a;
  --btn: #f2c14e;
  --correctAnswer: #f25c54;
  --text:#333333;
  --Explanation:#ffd9c0;
}
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
      color: var(--text);
      background-color:var(--primary);
    }
    .quiz-container {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      max-width: 600px;
      margin: 0 auto;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    h2{
      color:var(--text) ;
    }
    .question {
      font-size: 1.2em;
      margin-bottom: 15px;
    }
    .options button {
      display: block;
      width: 100%;
      margin: 5px 0;
      padding: 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: #e0e0e0;
      font-size: 1em;
      color: black;
    }
    .options button:hover {
      background-color: #d0d0d0;
    }
    .answer {
      margin-top: 15px;
      font-weight: bold;
      color:var(--correctAnswer);
    }
#quiz{
    margin-top:15px;
}
button{
  display: inline-block;
  padding: 10px;
  border: 1px;
  margin-top: 15px;
  border-radius: 5px;
  background-color: rgb(15, 15, 218);
  color: #d0d0d0;
  cursor: pointer;

}